.Images {
    top: 20px;
    left: 20px;
    padding: 5px;
    justify-content: center;
    align-content: flex-start;
}

.singleImage {
    padding: 0 20px 20px;
    height: 300px;
    border-radius: 30;
}

.input {
    width: 30%;
    top: 10px;
    right: 0px;
  }